<% if user_signed_in? %>
<%= simple_form_for([@movie, @comment]) do |f| %>
  
  <div class="field">
    <%= f.label :author %><br>
  </div>
  <div class="field">
    <%= f.label :body %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% else %>
   <div class="bck dark">
    <p class="white">
      You must be logged in to add or edit a movie
    </p>
  </div>
<% end %>
