<!DOCTYPE html>
<html>
<head>
  <title>Manderley</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="bck light padding">
        <div class="row">
            <nav class="column_6">
                <h2 class="text italic thin">Manderley</h2>
            </nav>
        </div>
    </header>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
        
    </div>
</body>
</html>
